Week 2 Pandas Basics and Filtering

In [41]:

import pandas as pd
import numpy as np

In [44]:
data = pd.read_csv('data/owid-covid-data.csv')

In [45]:
# limiting the display rows
pd.set_option('display.max_rows', 10)
data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61462,ZWE,Africa,Zimbabwe,2021-01-17,27203.0,322.0,818.000,713.0,30.0,29.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
61463,ZWE,Africa,Zimbabwe,2021-01-18,27892.0,689.0,799.286,773.0,60.0,35.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
61464,ZWE,Africa,Zimbabwe,2021-01-19,28675.0,783.0,776.571,825.0,52.0,39.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
61465,ZWE,Africa,Zimbabwe,2021-01-20,29408.0,733.0,736.000,879.0,54.0,41.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
61466,ZWE,Africa,Zimbabwe,2021-01-21,30047.0,639.0,668.429,917.0,38.0,40.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535

# A) Basic Dataframe: Statistics in the world

In [30]:
df = data
print("Number of records:" ,len(df))
print(df.shape)
#df.head(10)
df.head()

Number of records: 61467
(61467, 55)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [31]:
df.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
61462,ZWE,Africa,Zimbabwe,2021-01-17,27203.0,322.0,818.000,713.0,30.0,29.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
61463,ZWE,Africa,Zimbabwe,2021-01-18,27892.0,689.0,799.286,773.0,60.0,35.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
61464,ZWE,Africa,Zimbabwe,2021-01-19,28675.0,783.0,776.571,825.0,52.0,39.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
61465,ZWE,Africa,Zimbabwe,2021-01-20,29408.0,733.0,736.000,879.0,54.0,41.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
61466,ZWE,Africa,Zimbabwe,2021-01-21,30047.0,639.0,668.429,917.0,38.0,40.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61467 entries, 0 to 61466
Data columns (total 55 columns):
iso_code                                 61117 non-null object
continent                                60751 non-null object
location                                 61467 non-null object
date                                     61467 non-null object
total_cases                              60874 non-null float64
new_cases                                60867 non-null float64
new_cases_smoothed                       59911 non-null float64
total_deaths                             52370 non-null float64
new_deaths                               52369 non-null float64
new_deaths_smoothed                      59911 non-null float64
total_cases_per_million                  60524 non-null float64
new_cases_per_million                    60517 non-null float64
new_cases_smoothed_per_million           59566 non-null float64
total_deaths_per_million                 52033 non-null float64
new_deaths_per_million                   52032 non-null float64
new_deaths_smoothed_per_million          59566 non-null float64
reproduction_rate                        48756 non-null float64
icu_patients                             6694 non-null float64
icu_patients_per_million                 6694 non-null float64
hosp_patients                            7784 non-null float64
hosp_patients_per_million                7784 non-null float64
weekly_icu_admissions                    626 non-null float64
weekly_icu_admissions_per_million        626 non-null float64
weekly_hosp_admissions                   945 non-null float64
weekly_hosp_admissions_per_million       945 non-null float64
total_tests                              28323 non-null float64
new_tests                                28499 non-null float64
total_tests_per_thousand                 28323 non-null float64
new_tests_per_thousand                   28499 non-null float64
new_tests_smoothed                       32088 non-null float64
new_tests_smoothed_per_thousand          32088 non-null float64
positive_rate                            30302 non-null float64
tests_per_case                           29821 non-null float64
tests_units                              33273 non-null object
total_vaccinations                       799 non-null float64
new_vaccinations                         614 non-null float64
new_vaccinations_smoothed                1055 non-null float64
total_vaccinations_per_hundred           799 non-null float64
new_vaccinations_smoothed_per_million    1055 non-null float64
stringency_index                         55078 non-null float64
population                               61117 non-null float64
population_density                       59825 non-null float64
median_age                               58478 non-null float64
aged_65_older                            57800 non-null float64
aged_70_older                            58147 non-null float64
gdp_per_capita                           58511 non-null float64
extreme_poverty                          40045 non-null float64
cardiovasc_death_rate                    59113 non-null float64
diabetes_prevalence                      59803 non-null float64
female_smokers                           46658 non-null float64
male_smokers                             46019 non-null float64
handwashing_facilities                   29601 non-null float64
hospital_beds_per_thousand               54300 non-null float64
life_expectancy                          60803 non-null float64
human_development_index                  58773 non-null float64
dtypes: float64(50), object(5)
memory usage: 25.8+ MB

In [33]:
# show not nun number
df.count()

iso_code                      61117
continent                     60751
location                      61467
date                          61467
total_cases                   60874
new_cases                     60867
new_cases_smoothed            59911
total_deaths                  52370
new_deaths                    52369
new_deaths_smoothed           59911
                              ...
gdp_per_capita                58511
extreme_poverty               40045
cardiovasc_death_rate         59113
diabetes_prevalence           59803
female_smokers                46658
male_smokers                  46019
handwashing_facilities        29601
hospital_beds_per_thousand    54300
life_expectancy               60803
human_development_index       58773
Length: 55, dtype: int64

In [34]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [39]:
# a list
list =['CI101', 'DM280', 'CI280', 'DM305']
list

no = 1
for name in list:
    print(no, name)
    no = no+1

1 CI101
2 DM280
3 CI280
4 DM305

In [40]:
# Show all the column names 

names = df.columns
print(len(names))

print("----------------------------------")

print("Show all the column names")
num = 0
for name in names:
    print(num, name)
    num = num+1

55
----------------------------------
Show all the column names
0 iso_code
1 continent
2 location
3 date
4 total_cases
5 new_cases
6 new_cases_smoothed
7 total_deaths
8 new_deaths
9 new_deaths_smoothed
10 total_cases_per_million
11 new_cases_per_million
12 new_cases_smoothed_per_million
13 total_deaths_per_million
14 new_deaths_per_million
15 new_deaths_smoothed_per_million
16 reproduction_rate
17 icu_patients
18 icu_patients_per_million
19 hosp_patients
20 hosp_patients_per_million
21 weekly_icu_admissions
22 weekly_icu_admissions_per_million
23 weekly_hosp_admissions
24 weekly_hosp_admissions_per_million
25 total_tests
26 new_tests
27 total_tests_per_thousand
28 new_tests_per_thousand
29 new_tests_smoothed
30 new_tests_smoothed_per_thousand
31 positive_rate
32 tests_per_case
33 tests_units
34 total_vaccinations
35 new_vaccinations
36 new_vaccinations_smoothed
37 total_vaccinations_per_hundred
38 new_vaccinations_smoothed_per_million
39 stringency_index
40 population
41 population_density
42 median_age
43 aged_65_older
44 aged_70_older
45 gdp_per_capita
46 extreme_poverty
47 cardiovasc_death_rate
48 diabetes_prevalence
49 female_smokers
50 male_smokers
51 handwashing_facilities
52 hospital_beds_per_thousand
53 life_expectancy
54 human_development_index

In [46]:
df.values

array([['AFG', 'Asia', 'Afghanistan', ..., 0.5, 64.83, 0.498],
       ['AFG', 'Asia', 'Afghanistan', ..., 0.5, 64.83, 0.498],
       ['AFG', 'Asia', 'Afghanistan', ..., 0.5, 64.83, 0.498],
       ...,
       ['ZWE', 'Africa', 'Zimbabwe', ..., 1.7, 61.49, 0.535],
       ['ZWE', 'Africa', 'Zimbabwe', ..., 1.7, 61.49, 0.535],
       ['ZWE', 'Africa', 'Zimbabwe', ..., 1.7, 61.49, 0.535]],
      dtype=object)

In [47]:
df_world = data[ data['location'] == 'World' ]
df_world

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
60196,OWID_WRL,NaN,World,2020-01-22,557.0,0.0,NaN,17.0,0.0,NaN,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
60197,OWID_WRL,NaN,World,2020-01-23,655.0,98.0,NaN,18.0,1.0,NaN,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
60198,OWID_WRL,NaN,World,2020-01-24,941.0,286.0,NaN,26.0,8.0,NaN,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
60199,OWID_WRL,NaN,World,2020-01-25,1433.0,492.0,NaN,42.0,16.0,NaN,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
60200,OWID_WRL,NaN,World,2020-01-26,2118.0,685.0,NaN,56.0,14.0,NaN,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60557,OWID_WRL,NaN,World,2021-01-17,95045634.0,550231.0,680363.714,2030831.0,8706.0,13718.000,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
60558,OWID_WRL,NaN,World,2021-01-18,95559647.0,514013.0,665525.714,2040107.0,9276.0,13582.000,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
60559,OWID_WRL,NaN,World,2021-01-19,96167933.0,608286.0,651838.000,2056947.0,16840.0,13545.429,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
60560,OWID_WRL,NaN,World,2021-01-20,96862056.0,694123.0,643827.429,2074764.0,17817.0,13717.571,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
60561,OWID_WRL,NaN,World,2021-01-21,97492072.0,630016.0,625940.571,2089455.0,14691.0,13628.714,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN

In [48]:
df = data[data['location'] != 'World']
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61462,ZWE,Africa,Zimbabwe,2021-01-17,27203.0,322.0,818.000,713.0,30.0,29.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
61463,ZWE,Africa,Zimbabwe,2021-01-18,27892.0,689.0,799.286,773.0,60.0,35.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
61464,ZWE,Africa,Zimbabwe,2021-01-19,28675.0,783.0,776.571,825.0,52.0,39.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
61465,ZWE,Africa,Zimbabwe,2021-01-20,29408.0,733.0,736.000,879.0,54.0,41.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
61466,ZWE,Africa,Zimbabwe,2021-01-21,30047.0,639.0,668.429,917.0,38.0,40.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535

In [51]:
# Practice, filtering
# List all records from USA
data[ data['location'] == 'United States' ]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
58128,USA,North America,United States,2020-01-22,1.0,NaN,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
58129,USA,North America,United States,2020-01-23,1.0,0.0,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
58130,USA,North America,United States,2020-01-24,2.0,1.0,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
58131,USA,North America,United States,2020-01-25,2.0,0.0,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
58132,USA,North America,United States,2020-01-26,5.0,3.0,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58489,USA,North America,United States,2021-01-17,23936773.0,177918.0,218100.857,397600.0,1749.0,3323.286,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
58490,USA,North America,United States,2021-01-18,24078772.0,141999.0,207914.429,399003.0,1403.0,3237.143,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
58491,USA,North America,United States,2021-01-19,24256028.0,177256.0,201033.429,401772.0,2769.0,2995.286,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
58492,USA,North America,United States,2021-01-20,24438723.0,182695.0,194251.857,406147.0,4375.0,3054.143,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
58493,USA,North America,United States,2021-01-21,24627675.0,188952.0,187593.429,410102.0,3955.0,3057.857,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924

In [52]:
# Practice, filtering
# List all records from Asia
data[ data['continent'] == 'Asia']

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60844,YEM,Asia,Yemen,2021-01-17,2112.0,0.0,1.143,612.0,0.0,0.143,...,1479.147,18.8,495.003,5.35,7.6,29.2,49.542,0.7,66.12,0.452
60845,YEM,Asia,Yemen,2021-01-18,2113.0,1.0,1.143,612.0,0.0,0.000,...,1479.147,18.8,495.003,5.35,7.6,29.2,49.542,0.7,66.12,0.452
60846,YEM,Asia,Yemen,2021-01-19,2115.0,2.0,1.143,612.0,0.0,0.000,...,1479.147,18.8,495.003,5.35,7.6,29.2,49.542,0.7,66.12,0.452
60847,YEM,Asia,Yemen,2021-01-20,2115.0,0.0,0.857,612.0,0.0,0.000,...,1479.147,18.8,495.003,5.35,7.6,29.2,49.542,0.7,66.12,0.452
60848,YEM,Asia,Yemen,2021-01-21,2115.0,0.0,0.714,614.0,2.0,0.286,...,1479.147,18.8,495.003,5.35,7.6,29.2,49.542,0.7,66.12,0.452

In [53]:
# show all continents
df['continent']

0          Asia
1          Asia
2          Asia
3          Asia
4          Asia
          ...
61462    Africa
61463    Africa
61464    Africa
61465    Africa
61466    Africa
Name: continent, Length: 61101, dtype: object

In [54]:
df['continent'].unique()

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania', nan], dtype=object)

In [56]:
#2) Show all the continent's names (remove the duplicate, and NaN value) (2 pts)

df = data
names = df['continent'].unique()

print("Number of continents")
print(len(names))

print("\nShow all the continent names:")
print('--------------------------------')
for name in names:
    if pd.notnull(name):
        print(name)

Number of continents
7

Show all the continent names:
--------------------------------
Asia
Europe
Africa
North America
South America
Oceania

In [57]:
#3) How many records for the location 'World'
#  Show last five rows from the location  'world'  

df_world = df[df['location'] == 'World']

print("Records for the location 'World'" ,len(df_world))
df_world.tail(5)

Records for the location 'World' 366

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
60557,OWID_WRL,NaN,World,2021-01-17,95045634.0,550231.0,680363.714,2030831.0,8706.0,13718.000,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
60558,OWID_WRL,NaN,World,2021-01-18,95559647.0,514013.0,665525.714,2040107.0,9276.0,13582.000,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
60559,OWID_WRL,NaN,World,2021-01-19,96167933.0,608286.0,651838.000,2056947.0,16840.0,13545.429,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
60560,OWID_WRL,NaN,World,2021-01-20,96862056.0,694123.0,643827.429,2074764.0,17817.0,13717.571,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
60561,OWID_WRL,NaN,World,2021-01-21,97492072.0,630016.0,625940.571,2089455.0,14691.0,13628.714,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN

In [59]:
# show the last record, use index -1
# Example
list = [4, 5, 7, 18, 7]
print(list)
print(list[0] )
print(list[1] )
print('last item:',list[-1] )
print(list[-2] )
print(list[2:] )
print(list[:2] )

[4, 5, 7, 18, 7]
4
5
last item 7
18
[7, 18, 7]
[4, 5]

In [65]:
print(df.iloc[0])
# same
print(df.head(1))

#df.iloc[1]
#df.iloc[-2]

print('\n\n')
print(df.iloc[-1])
# same
print('--------------')
print(df.tail(1))

iso_code                              AFG
continent                            Asia
location                      Afghanistan
date                           2020-02-24
total_cases                             1
                                 ...
male_smokers                          NaN
handwashing_facilities             37.746
hospital_beds_per_thousand            0.5
life_expectancy                     64.83
human_development_index             0.498
Name: 0, Length: 55, dtype: object
  iso_code continent     location        date  total_cases  new_cases  \
0      AFG      Asia  Afghanistan  2020-02-24          1.0        1.0

   new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                 NaN           NaN         NaN                  NaN  ...

   gdp_per_capita  extreme_poverty  cardiovasc_death_rate  \
0        1803.987              NaN                597.029

   diabetes_prevalence  female_smokers  male_smokers  handwashing_facilities  \
0                 9.59             NaN           NaN                  37.746

   hospital_beds_per_thousand  life_expectancy  human_development_index
0                         0.5            64.83                    0.498

[1 rows x 55 columns]



iso_code                             ZWE
continent                         Africa
location                        Zimbabwe
date                          2021-01-21
total_cases                        30047
                                 ...
male_smokers                        30.7
handwashing_facilities            36.791
hospital_beds_per_thousand           1.7
life_expectancy                    61.49
human_development_index            0.535
Name: 61466, Length: 55, dtype: object
--------------
      iso_code continent  location        date  total_cases  new_cases  \
61466      ZWE    Africa  Zimbabwe  2021-01-21      30047.0      639.0

       new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
61466             668.429         917.0        38.0               40.143  ...

       gdp_per_capita  extreme_poverty  cardiovasc_death_rate  \
61466        1899.775             21.4                307.846

       diabetes_prevalence  female_smokers  male_smokers  \
61466                 1.82             1.6          30.7

       handwashing_facilities  hospital_beds_per_thousand  life_expectancy  \
61466                  36.791                         1.7            61.49

       human_development_index
61466                    0.535

[1 rows x 55 columns]

In [66]:
#4) 
# show the last record



result = df_world.iloc[-1]


# now result is a Series:
# Each Series include: index and values
print(result.index)
print(result.values)

iso_code                         OWID_WRL
continent                             NaN
location                            World
date                           2021-01-21
total_cases                   9.74921e+07
                                 ...
male_smokers                       34.635
handwashing_facilities              60.13
hospital_beds_per_thousand          2.705
life_expectancy                     72.58
human_development_index               NaN
Name: 60561, Length: 55, dtype: object
Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')
['OWID_WRL' nan 'World' '2021-01-21' 97492072.0 630016.0 625940.571
 2089455.0 14691.0 13628.714 12507.323999999999 80.825 80.30199999999999
 268.058 1.885 1.7480000000000002 nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan 56581530.0 nan nan 0.73 nan nan
 7794798729.0 58.045 30.9 8.696 5.355 15469.207 10.0 233.07 8.51 6.434
 34.635 60.13 2.705 72.58 nan]

In [68]:
# Display the result for each column
# now res is series, include: index  values
#print(res.index)  # column names
#print(res.values)

result = df_world.iloc[-1]
column_names = res.index
#print(column_names)

for col_name in column_names:
    print(col_name , '\t', result[col_name])

iso_code 	 OWID_WRL
continent 	 nan
location 	 World
date 	 2021-01-21
total_cases 	 97492072.0
new_cases 	 630016.0
new_cases_smoothed 	 625940.571
total_deaths 	 2089455.0
new_deaths 	 14691.0
new_deaths_smoothed 	 13628.714
total_cases_per_million 	 12507.323999999999
new_cases_per_million 	 80.825
new_cases_smoothed_per_million 	 80.30199999999999
total_deaths_per_million 	 268.058
new_deaths_per_million 	 1.885
new_deaths_smoothed_per_million 	 1.7480000000000002
reproduction_rate 	 nan
icu_patients 	 nan
icu_patients_per_million 	 nan
hosp_patients 	 nan
hosp_patients_per_million 	 nan
weekly_icu_admissions 	 nan
weekly_icu_admissions_per_million 	 nan
weekly_hosp_admissions 	 nan
weekly_hosp_admissions_per_million 	 nan
total_tests 	 nan
new_tests 	 nan
total_tests_per_thousand 	 nan
new_tests_per_thousand 	 nan
new_tests_smoothed 	 nan
new_tests_smoothed_per_thousand 	 nan
positive_rate 	 nan
tests_per_case 	 nan
tests_units 	 nan
total_vaccinations 	 56581530.0
new_vaccinations 	 nan
new_vaccinations_smoothed 	 nan
total_vaccinations_per_hundred 	 0.73
new_vaccinations_smoothed_per_million 	 nan
stringency_index 	 nan
population 	 7794798729.0
population_density 	 58.045
median_age 	 30.9
aged_65_older 	 8.696
aged_70_older 	 5.355
gdp_per_capita 	 15469.207
extreme_poverty 	 10.0
cardiovasc_death_rate 	 233.07
diabetes_prevalence 	 8.51
female_smokers 	 6.434
male_smokers 	 34.635
handwashing_facilities 	 60.13
hospital_beds_per_thousand 	 2.705
life_expectancy 	 72.58
human_development_index 	 nan

In [69]:
print("Total covid cases in the world:", result['total_cases'])
print("Total covid total_deaths cases in the world:", result['total_deaths'])
print("Population of the world:", result['population'])
print("life_expectancy of the world:", result['life_expectancy'])

Total covid cases in the world: 97492072.0
Total covid total_deaths cases in the world: 2089455.0
Population of the world: 7794798729.0
life_expectancy of the world: 72.58

# Result in 11/20/2020
Total covid cases in the world: 52143259.0
Total covid total_deaths cases in the world: 1284610.0
Population of the world: 7794798729.0
life_expectancy of the world: 72.58

In [66]:
#5) Show how many countries(location) names
#  (remove the duplicate and world) in the dataset ( 2 pts)

number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

df = df[ (df['location'] != 'World') ]


names = df['location'].unique()
len(names)
print("The number of countries(locations) in the dataset: ",len(names)) 
print(names)

#for name in names:
#    print(name)

You name , id:  4224
------------------------------
The number of countries(locations) in the dataset:  192
['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi'
 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Central African Republic'
 'Chad' 'Chile' 'China' 'Colombia' 'Comoros' 'Congo' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Fiji' 'Finland' 'France'
 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia' 'International'
 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan'
 'Kazakhstan' 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia'
 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (country)' 'Moldova' 'Monaco' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway'
 'Oman' 'Pakistan' 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay'
 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russia'
 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka'
 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan'
 'Tanzania' 'Thailand' 'Timor' 'Togo' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Vatican' 'Venezuela'
 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe']

In [69]:
# 6) iso_code

df = data
df[ (df['location'] != 'World') ]


#names = df[['iso_code','location'].unique()
#len(names)
#print("The number of countries(locations) in the dataset: ",len(names)) 
print(names)#

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi'
 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Central African Republic'
 'Chad' 'Chile' 'China' 'Colombia' 'Comoros' 'Congo' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Fiji' 'Finland' 'France'
 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia' 'International'
 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan'
 'Kazakhstan' 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia'
 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (country)' 'Moldova' 'Monaco' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway'
 'Oman' 'Pakistan' 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay'
 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russia'
 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka'
 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan'
 'Tanzania' 'Thailand' 'Timor' 'Togo' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Vatican' 'Venezuela'
 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe']

In [70]:
#7) Show the totol number of cases in the world
# (Make sure not include the location 'world', and add new_cases from each location)
# Compare your result with problem 3)

number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

res = df[ df['location'] != 'World']
print(len(res))
total = res['new_cases'].sum()
print('Show the totol number of convid cases in the world', num)

You name , id:  13
------------------------------
61101
Show the totol number of convid cases in the world 96668290.0

In [71]:
#8) Show the totol number of deaths in the world
# (Make sure not include the location 'world', add new_deaths from each location)
# Compare your result with problem 3)

number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

df = data[ data['location'] != 'World']

num = df['new_deaths'].sum()
print('Show the totol number of convid deaths in the world')
num

You name , id:  3042
------------------------------
Show the totol number of convid deaths in the world

2089438.0

In [49]:
#9) Show the death rate ( number of deaths/ total covid cases) in the world

number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

data = df[df['location'] != 'World']
rate = data['new_deaths'].sum()/data['new_cases'].sum()
print('Show the death rate in the world')
print(format(rate,'.2%' ))

You name , id:  2637
------------------------------
Show the death rate in the world
2.46%

In [72]:
# 10) Show the average median age of the world, the average life expectancy in worldwide
number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

age = df['median_age'].mean()
print('Show the average median_age of the world')
print(format(age, '.0f'))

life_expectancy = df['life_expectancy'].mean()
print('Show the average life expectancy of the world')
print(format(life_expectancy, '.0f'))

You name , id:  2185
------------------------------
Show the average median_age of the world
31
Show the average life expectancy of the world
73

# B) Basic Statistics for a country (Select your own country)
# ( 30 points)

# For example, I chose Brazil

In [74]:
# Show number of records for Brazil in this dataset 
import random
number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

res = df[ df['location']=='Brazil' ]
print("Number of records:" ,len(res))
res

You name , id:  3685
------------------------------
Number of records: 332

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
7509,BRA,South America,Brazil,2020-02-26,1.0,1.0,NaN,NaN,NaN,NaN,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759
7510,BRA,South America,Brazil,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759
7511,BRA,South America,Brazil,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7838,BRA,South America,Brazil,2021-01-20,8638249.0,64385.0,54530.429,212831.0,1340.0,981.000,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759
7839,BRA,South America,Brazil,2021-01-21,8697368.0,59119.0,53296.286,214147.0,1316.0,1007.429,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759
7840,BRA,South America,Brazil,2021-01-22,NaN,NaN,NaN,NaN,NaN,NaN,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759

In [75]:
#1) Show the totol number of covid cases in Brazil ( 3 pts)

number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

res = df[df['location']=='Brazil']

num = res['new_cases'].sum()
print('The totol number of convid cases in Brazil:', format(num, '.0f'))

You name , id:  914
------------------------------
The totol number of convid cases in Brazil: 8697368

In [14]:
# 3-4) Show the death rate in Brazil (3 pts)
# Is it above or lower than the worldwide death rate? (3 pts)

number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

res = df[df['location']=='Brazil']

tot_new_cases = res['new_cases'].sum()

res = df[df['location']=='Brazil']
tot_new_deaths = res['new_deaths'].sum()


rate1 = tot_new_deaths / tot_new_cases
print('Show the death rate in Brazil')
print(format(rate1,'.2%' ))


rate2 = df['new_deaths'].sum()/df['new_cases'].sum()
print('Show the death rate in the world')
print(format(rate2,'.2%' ))

if rate1 > rate2:
    print("Brazil is above the world level")
else:
    print("Brazil is below the world level")

You name , id:  9890
------------------------------
Show the death rate in Brazil
2.87%
Show the death rate in the world
2.46%
Brazil is above the world level

In [76]:
# 5-6) Show the average new_cases_per_million people in Brazil 
# Is it above or lower than the worldwide level.
# (6 pts)

number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')


res = df[df['location']=='Brazil']

num1 = res['new_cases_per_million'].mean()
print('Show the average new cases per million in Brazil')
print(format(num1, '.0f'))

num2 = df['new_cases_per_million'].mean()
print('Show the average new cases per million in the world')
print(format(num2, '.0f'))


if num1 > num2:
    print("Brazil is above the world level")
else:
    print("Brazil is below the world level")

You name , id:  4229
------------------------------
Show the average new cases per million in Brazil
124
Show the average new cases per million in the world
59
Brazil is above the world level

In [ ]:
# Result in 11/23/2020
------------------------------
Show the average new cases per million in Brazil
84
Show the average new cases per million in the world
38
Brazil is above the world level

In [77]:
# 7-8) Show the life_expectancy in Brazil, 
# and compare it to the average of life_expectancy in the world
#(6 pts)
number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')


res = df[df['location']=='Brazil']
#print(res)

#num1 = res['life_expectancy'].iloc[0]   
num1 = res['life_expectancy'].mean()
print('Show the life expectancy of the Brazil')
print(format(num1, '.1f'))

num2 = df['life_expectancy'].mean()     
print('Show the life expectancy of the world')
print(format(num2, '.1f'))


if num1 > num2:
    print("Brazil is above the world level")
else:
    print("Brazil is below the world level")

You name , id:  3721
------------------------------
Show the life expectancy of the Brazil
75.9
Show the life expectancy of the world
73.1
Brazil is above the world level

In [ ]:
------------------------------
Show the life expectancy of the Brazil
75.9
Show the life expectancy of the world
74.0
Brazil is above the world level

In [78]:
# 9) Show the Brazil's population and population of aged 70 older (3 pts)
# 10) What is the percentage of population in aged_70_older in Brazil? (3 pts)
number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

res = df[df['location']=='Brazil']

#total = res['population'].unique()[0]
# brazil population
total_pop = res['population'].mean() 

print('The population of Brazil:',format(total_pop, '.0f'))

#pop2 = res['aged_70_older'].iloc[0]     # Same
old_pop = res['aged_70_older'].mean()

print('Show the population of aged 70 older in Brazil')
old_pop = old_pop*1000000
print(format(old_pop, '.0f'))

print("Pencentage is" , format(old_pop/total_pop, '.1%'))
#print()

You name , id:  2411
------------------------------
The population of Brazil: 212559409
Show the population of aged 70 older in Brazil
5060000
Pencentage is 2.4%

In [79]:
# 11) How many days which new cases are over 1000
# How many days which new cases are over 50000

res = df [ (df['location']=='Brazil') & (df['new_cases']>5000) ]
print("How many days which new cases is over 5000 in Brazil")
print(len(res))

res = df [ (df['location']=='Brazil') & (df['new_cases']>10000) ]
print("How many days which new cases is over 10000 in Brazil")
print(len(res))

How many days which new cases is over 5000 in Brazil
264
How many days which new cases is over 10000 in Brazil
248